body {
    margin: 0;
    font-size: 16;
  }
  
  
  .flutter {
   background-color: white; 
   box-sizing: border-box;
    padding: 3px 90px 100px 30px;
    border-radius: 10px;
    max-width: 32rem;
    width: 90%;
    height: 120%;
    margin-left:-20px ;
  }
  
  .content {
    padding: 135px 40%;
    display: flex;
    font-family: Helvetica, sans-serif;
      background: linear-gradient(-100deg, #A2F2F1 0%, #B19AFE 100%);

  }
  
  
  .flutter input {
   
    padding: 20px;
    list-style: none;
    display: inline-block;
    width: 320px;
    height: 1px;
    background-image: linear-gradient(blue,blue);
    background-position: bottom 3px center;
    background-size: 400px  1px;
    background-repeat: no-repeat;
    background-color: white;
    border: none;
  }

  .flutter button
  {
    z-index: 0;
    position: absolute;
    top: 420px;
    right: 380px;
    background-color: rgb(69, 172, 231);
    border: none;
    border-radius: 20px;
    color: white;
    padding: 6px 50px ;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 50px 10px;
   
  }

  

  
  
  @media (max-width: 890px) {
    .side-content {
      display: none;
    }
  }
  
  @media  (max-width: 890px) {
    .content {
      padding: 135px 40%;
      display: flex;
      font-family: Helvetica, sans-serif;
        background: linear-gradient(-100deg, #A2F2F1 0%, #B19AFE 100%);
  
    }
    .flutter {
      background-color: white; 
      box-sizing: border-box;
       padding: 3px 90px 100px 30px;
       border-radius: 10px;
       max-width: 32rem;
       width: 90%;
       height: 120%;
     }
    
     
  .flutter input {
   
    padding: 20px;
    list-style: none;
    display: inline-block;
    width: 320px;
    height: 1px;
    background-image: linear-gradient(blue,blue);
    background-position: bottom 3px center;
    background-size: 400px  1px;
    background-repeat: no-repeat;
    background-color: white;
    border: none;
  }
  .flutter button
  {
    z-index: 0;
    position: absolute;
    top: 420px;
    right: 340px;
    background-color: rgb(69, 172, 231);
    border: none;
    border-radius: 20px;
    color: white;
    padding: 6px 50px ;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 50px 10px;
   
  }
  .flutter nav{
    z-index: 0;
    position: absolute;
    top: 480px;
    right: 370px;


  }
}
  
  