body {
    margin: 0;
  }
  .content {
    padding: 200px 40%;
    display: flex;
    background: linear-gradient(-100deg, #A2F2F1 0%, #B19AFE 100%);

  }

  .main-header {
    display: flex;
   justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #b9b9b9;
    box-sizing: border-box;
    padding-top:20px ;
    padding-bottom:0px ;
    padding-left: 25px;
    padding-right: 15px;
  }
  
 .main-header p {

    font-family: Helvetica, sans-serif;


}

  
  .main-header input {
    z-index: 9999999999999;
    position: absolute;
    top: 60px;
    right: 50px;
    height: 26px;
    width: 200px;
    background: #fafafa;
    border: 1px solid #b9b9b9;
    border-radius: 15px;
  
  }
  .main-content{
    max-width: 18rem;
    width: 200%;
    height: 200%;
    border: 1px solid #b9b9b9;
    background-color: white;
    box-sizing: border-box;
    border-radius: 1px;
    margin-left: -150px;
    margin-top: -190px;
  }
  .profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 120px;
    font-family: Helvetica, sans-serif;
  }
  .profile img{
    height: 80px;
    padding-left: 100px;

  }
  .profile label{
    padding-left: 100px;
  }
  .side-content{
    margin-top: -190px;
    margin-left: 15px;
  }
  .profileInfo{
    max-width: 18rem;
    width: 255px;
    height: 45px;
    border: none;
    box-sizing: border-box;
    padding: 1px 2px 1px 2px;
    background-color: #F6F7FE;
  }
  .profileInfo ul
 {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
 
.profileInfo li{
   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;

      
}
.profileInfo li:not(:last-child) {
    margin-right: 7px;
  }
.profileInfo p{
    margin-top: 1px;
    padding-left: 10px;


}
.profileInfo label{
    margin-top: -10px;
    font-size: 15px;
    font-weight: bold;
    color: #71CBDF;


}
.profileInfo button{
    margin-top: -30px;
    margin-left: 150px;
    border-radius: 20px;
    color: #71CBDF;
    border: 2px solid #71CBDF;
    width: 70px;
    height: 25px;

}
.side-content {
  max-width: 55rem;
  width: 1000px;
  height: 343px;
  border: 1px solid #b9b9b9;
  background-color: white;
  box-sizing: border-box;
  border-radius: 1px;
}


.writhingPost{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  background-color:#F4FCFD ;
  width: 420px;
  height: 40px;
  font-family: Helvetica, sans-serif;

}
.writhingPost img{
  width: 25px;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.writhingPost input{
  width: 300px;
  height: 20px;
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 5px;
  margin-right: 10px;
  border-radius: 15px;
  border: 1px solid rgb(207, 202, 202);

}
.writhingPost input::placeholder{
  color: #71CBDF;
}

.headerPost{
  display: flex;
  padding: 8px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
.headerPost img {
  width: 2.5rem;
  height: 2.5rem;
}
.post-person label  {
  margin-left: 10px;
}
.post-since{
  margin-left: 10px;
  color: grey;

}
.post-person {
  display: flex;
  align-items: center;

}
.close{
  margin-left: 390px;
  cursor: pointer;
  position: absolute;
  transform: translate(0%, -50%);
}
.post-text {
  margin-left: 60px;
  margin-top: -10px;
  width: 85%;
  height: auto;
  font-size: 12px;

}
.Posts ul{
  margin:0;
  padding: 0;
  list-style: none;
  height: 150px;

}
.Posts li{
  height: 150px;
  width: 420px;
  border: 1px solid rgb(207, 202, 202);
}
.Posts{
 
  width: 400px;
  height: 400px;

}
.fa-thumbs-up{
  padding-left:60px;
  color: black;

}
.fa-thumbs-down{
  padding-left:60px;
  color: black;

}
