#red {
    z-index: 1;
    position: absolute;
    top: 300px;
    left: 400px;

 
}
#silver {
    position: relative;
    top: 350px;
    left: 450px;

}

#green {
    position: fixed;
    top: 350px;
    right: 0px;

}

#blue {

}

#yellow {
    float: right;
    position: relative;
    top: 125px;



}

